/*Main Body*/
* {
box-sizing: border-box;
}
 
*:focus {
    outline: none;
}
body {
font-family: 'Amiri',Garamond;
font-weight:400;
background-color: #f4fcff;  /* Background Color (000724)*/
padding: 50px 0px 0px 0px; /*LoginBox to Other Element Dist*/
margin:0;
}


.image-wrap {
    
    position: relative;
    display: inline-block;

    vertical-align: top;
}

.image-wrap img {
    vertical-align: top;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -webkit-border-radius: 26px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.image-main img {
    vertical-align: top;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    width: 100%;
    height: auto;
} 

.big-wrapper{
    padding:25px 0px 25px 0px;
    min-width:364px
    }
    
.big-name{
    text-align:center;
    font-size:6vmax;
    font-family: 'Amiri',Garamond;
    }

@media only screen and (min-width: 1050px) {
/* For desktop: */

.big-wrapper{
    padding:40px 0px 20px 0px
    }
    
.big-name{
    text-align:center;
    font-size:68pt;
    font-family: 'Amiri',Garamond;
    }
}

.flexcont {
    display: flex;
    justify-content:space-around;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}